
.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSJlF4mOaXzEwru8BZPnJTrN7caFXUmiLyJZg&s') no-repeat center center fixed; */
    /* background-size: cover; */
    font-family: 'Arial', sans-serif;
}

.registration-card {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.registration-card h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.form-group input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.form-group input:focus {
    border-color: #007bff;
    outline: none;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.form-scroll {
    max-height: 600px;
    overflow-y: auto;
    padding-right: 10px;
}

.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    background-color: #fff;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.form-group select:focus {
    border-color: #007bff;
    outline: none;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
    width: 300px;
    z-index: 1000;
}

.popup-content {
    font-size: 18px;
    font-weight: bold;
}

.registration-image {
    width: 100px;
    height: 100px;
    display: block;
    margin: 10px auto;
    border-radius: 50%;
    border: 10px solid white; /* White border with 10px thickness */
}

.registration-title {
    text-align: center;
    color: white;
    margin-top: 10px;
    font-size: 18px;
}